name: Publish to NPM

on:
  push:
    tags:
      - 'v*.*.*' # Trigger the workflow on tag pushes with the pattern v1.2.3

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Install dependencies
        run: npm run build

      - name: Publish to NPM
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}} # Make sure to set this secret in your repository settings
        run: |
          npm publish --access public
