name: Docker Build and Push

on:
  push:
    tags:
      - '*'

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Get Git Tag
        id: git_tag
        run: echo "::set-output name=TAG::$(git describe --tags)"

      - name: Build Docker image
        run: docker build -t anypay/walletbot:${{ steps.git_tag.outputs.TAG }} .

      - name: Push Docker image to Docker Hub
        run: docker push anypay/walletbot:${{ steps.git_tag.outputs.TAG }}
